server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://insurance-db.c3uqy682eg7h.us-east-1.rds.amazonaws.com:3306/insurance_db?useSSL=false&serverTimezone=UTC&zeroDateTimeBehavior=convertToNull&allowPublicKeyRetrieval=true&useLegacyDatetimeCode=false
    username: admin      # TODO: change to your MySQL username
    password: rootuser  

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    org.hibernate.SQL: DEBUG

app:
  jwt:
    secret: "CHANGE_ME_TO_A_LONG_RANDOM_SECRET"
    expiration-ms: 3600000
    refresh-expiration-ms: 604800000
